<div class="login-page">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container">
    <h2>Entrar</h2>

    <div class="form-group">
      <label>Nome</label>
      <input
        formControlName="nome"
        type="text"
        placeholder="Nome sem espaços. Ex: JohnConnor"
      />
    </div>

    <div class="form-group">
      <label>Senha</label>
      <input formControlName="senha" type="password" placeholder="Senha" />
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Entrar</button>

    <div class="links">
      <a routerLink="/cadastro">Cadastre-se</a>
      <a routerLink="home">Voltar à Home</a>
    </div>
  </form>
</div>
