<!-- <p>

// Para logar como ADM
authService.login email: 'admin@email.com',
password: '123' ,
'fake-jwt-token', 'ADM';

// Para logar como USER
authService.login
email: 'user@email.com', password: '123' ,
'fake-jwt-token', 'USER';


</p> -->


<!-- tela de login -->

<div class="container">
  <div class="login-form">
    <h2>Login</h2>

    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      
        <div class="form-group">
        <label for="nome">Email:</label>
        <input type="text" id="nome"  name="nome" formControlName="nome">
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password"  name="password" formControlName="password">
      </div>

      <button type="submit">Login</button>
    </form>


  </div>
</div>
