<header class="header">
  <div class="logo">
    <h1>MarketHub</h1>
  </div>

  <nav class="menu">
    <!-- Menu principal -->
  <app-link class="md" text="Home" linkRotas="/"></app-link>
  <app-link class="md" text="Contato" linkRotas="/contato"></app-link>
    @if(!user){
    <app-link class="md" text="Login" linkRotas="/login"></app-link>
    <app-link class="md" text="Cadastre-se" linkRotas="/cadastro"></app-link>

    } @else { @if (user.perfil === 'VENDEDOR') {
    <app-link
      class="md"
      text="Area Administrativa"
      linkRotas="/admin/tela-produtos"
    >
    </app-link>
    <app-link
      class="md"
      text="Dashboard de produtos"
      linkRotas="/admin/dashboard"
    >
    </app-link>
    <app-link
      class="md"
      text="Relatório de produtos"
      linkRotas="/admin/relatorio"
    >
    </app-link>
    }
    <!-- Info do usuário -->
    <span class="user-info">
      <!-- <img
        [src]="user.foto || 'assets/default-avatar.png'"
        alt="Avatar"
        width="40"
        height="40"
      /> -->
      <!-- <img src="assets/default-avatar.png" alt=""> -->

      <span class="username">{{ user.nome }}</span>
      <button class="logout-btn" (click)="logout()">Logout</button>
    </span>
    }
  </nav>
</header>
