<section class="grid-login">
  <span *ngFor="let s of [].constructor(120)"></span>
  <div class="signin">
    <div class="content">
      <h2>Recuperar</h2>
      <form class="form" [formGroup]="form" (ngSubmit)="enviar()">
        <div class="inputBx">
          <input type="text" formControlName="nome" required />
          <i>Username</i>
        </div>
        <div class="inputBx">
          <input type="password" formControlName="novaSenha" required />
          <i>Nova Senha</i>
        </div>
        <div class="links">
          <a routerLink="/login">Voltar</a>
        </div>
        <div class="inputBx">
          <input type="submit" [value]="loading ? '...' : 'Redefinir'" [disabled]="loading || form.invalid" />
        </div>
      </form>
    </div>
  </div>
</section>